
<div class='col-sm-6 col-lg-4'>
  <div class="card">
    <%= link_to project do %>
      <div class="card-topper" style='background-image: url(<%= project.banner_image_url %>);'></div>
    <% end %>
    <div class="card-block">
      <h4 class="card-title"><%= link_to project.title, project %></h4>
      <%= link_to project do %>
        <p class="card-text"><%= truncate(project.description, :length => 130) %></p>
        <p class="published-date"><%= project.display_day_published %></p>
        <p class="card-text"><%= truncate(project.body, :length => 130) %></p>
        <%= link_to 'Show', project %></td>
        <%= link_to 'Edit', edit_project_path(project) %></td>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'You are about to delete it, you sure?' } %></td>
      <% end %>
    </div>
  </div>
</div>
