<% provide(:page_title, @project.title) %>
<% provide(:project_active, 'active') %>


<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
    <p><h1><%= @project.title %></h1></p>
    <p><%= @project.display_day_published %></p>
    <p><%= @project.body %></p>
    <p><%= @project.description %></p>
    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Back', projects_path %>
  </div>
</div>


